
@{
    ViewData["Title"] = "Statistic";
}
@section Scripts{
    <script src="~/js/about_us.js"></script>

}

<section id="our-story">
    <div class="section-header">
        <h2>Our story</h2>
        <div class="text-line"></div>
    </div>
    <div class="flex-row centered">
        <div class="text">
            <p class="paragraph">
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
            </p>
            <p class="paragraph">
                This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors.
            </p>
            <p class="paragraph">
                At Wix we’re passionate about making templates that allow you to build fabulous websites and it’s all thanks to the support and feedback from users like you! Keep up to date with New Releases and what’s Coming Soon in Wixellaneous in Support. Feel free to tell us what you think and give us feedback in the Wix Forum.
            </p>
        </div>
        <img class="responsive-img" src="~/assets/img/our_story.webp" alt="Our story" />
    </div>
</section>
<section id="reliability">
    <div class="section-header">
        <h2>Reliability</h2>
        <div class="text-line"></div>
    </div>
    <div class="flex-row centered">
        <div class="chart-container">
            <div class="chart-title">
                <h3>2019</h3>
            </div>
            <h4 class="axis-title horizontal">Sales</h4><span id="upperbound" class="label"></span>
            <canvas id="sales-chart" class="chart"></canvas>
            <!--<h4 class="axis-label">Month</h4>-->
            <div class="axis-labels">
                <span class="label">January</span>
                <span class="label">February</span>
                <span class="label">March</span>
                <span class="label">April</span>
                <span class="label">May</span>
                <span class="label">June</span>
                <span class="label">July</span>
                <span class="label">August</span>
                <span class="label">September</span>
                <span class="label">October</span>
                <span class="label">November</span>
                <span class="label">December</span>
            </div>
        </div>
        <div class="text">
            <p class="paragraph">
                Nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
            </p>
        </div>
    </div>
</section>


