@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script src="~/js/store.js"></script>
}

<section id="home-page-header">
    <div id="home-page-banner" class="bg-primary jumbotron jumbotron-fluid py-4h mb-3">
        <h1 class="display-3 font-weight-bold text-center text-uppercase text-white">Free shipping</h1>
        <p class="lead font-weight-bold text-white text-center text-uppercase">ON ORDERS OVER $50 - USE COUPON CODE OVER50</p>
        <div class="row justify-content-center mt-4">
            <button class="btn btn-primary border-white rounded-0 mr-5 font-weight-bold">Shop Women</button>
            <button class="btn btn-primary border-white rounded-0 mr-5 font-weight-bold">Shop Men</button>
            <button class="btn btn-primary border-white rounded-0 font-weight-bold">Shop Kids</button>
        </div>
    </div>
    <div class="row mx-0">
        <img class="col-3 h-100 responsive-cover-img pl-0 pr-3" src="~/assets/img/small_woman_poster.webp" alt="There must be woman" />
        <img class="col-3 h-100 responsive-cover-img pl-0 pr-3" src="~/assets/img/small_man_poster.webp" alt="There must be man" />
        <img class="col-6 h-100 responsive-cover-img px-0" src="~/assets/img/large_poster.jpg" alt="There must be man and woman" />
    </div>
</section>
<section id="new-arrivals-section" class="arrivals-margin">
    <div class="section-header">
        <h2>New Arrivals</h2>
        <div class="text-line"></div>
    </div>
    <table id="new-arrivals-table" class="shop-table">
        <tbody id="new-arrivals-table-body">
        <tr>
                
        </tr>
        </tbody>
    </table>
    <button id="add-button" class="primal-button">Add new item</button>
</section>
<div id="add-popup" class="popup">
    <div class="popup-container">
        <button id="close-add" class="close-button"><i class="fas fa-times"></i></button>
        <div class="popup-header">
            <h3>Add new item</h3>
        </div>
        <div id="add-form" class="popup-body form-container">
        <label for="product-name">Name:</label>
        <input id="product-name" type="text"/>
        <label for="product-img-path">Image path:</label>
        <input id="product-img-path"/>
        <label for="product-price">Price:</label>
        <input id="product-price" type="number" min="0.01" step="any"/>
        <button id="accept-button" class="primal-button">OK</button>
        </div>
    </div>
</div>