@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-row home-page-imgs">
    <img class="small-img responsive-img" src="~/assets/img/woman.webp" alt="There must be woman"/>
    <img class="small-img responsive-img" src="~/assets/img/man.webp" alt="There must be man"/>
    <img class="big-img responsive-img" src="~/assets/img/man_woman.webp" alt="There must be man and woman"/>
</div>
<section class="new-arrivals-section">
    <div class="section-header">
        <h2>New Arrivals</h2>
        <div class="text-line"></div>
    </div>
    <table class="shop-table">

    </table>
</section>