.navbar-brand {
    /*height: 48px;*/
    height: 1.77em;
    /*width: 132px;*/
    width: 5em;
    background-color: black;
    /*font-size: 27px;*/
    font-size: 1.7em;
    letter-spacing: 0.25em;
    line-height: 1.4em;
}

.navbar-brand > a {
        display: block;
        width: 100%;
        transition: color 0.4s ease 0s;
        color: var(--white);
    }

    .navbar-brand > a:hover, .navbar-light .navbar-nav .nav-link:hover {
        color: var(--primary);
    }

.navbar-light .navbar-nav .nav-link {
    transition: color 0.4s ease 0s;
    color: #000000;
}

.navbar .navbar-nav .nav-link .fas.fa-user-circle {
    font-size: 1.7em;
    /*font-size: 27px;*/
}

.navbar .fas.fa-shopping-bag {
    font-size: 2.375em;
    /*font-size: 38px;*/
}


/*Toggler animation*/
.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #000000;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/*Toggler animation end*/

#home-page-banner .lead {
    font-size: 1.9rem;
}

#home-page-banner .btn {
    width: 220px;
    border-width: 3px;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s;
}

#home-page-banner .btn:hover {
    color: var(--primary);
    background-color: var(--white);
}

#home-page-header > .row {
    height: 517px;
}

.responsive-cover-img {
    object-fit: cover;
}

section > h1:first-child::before {
    content: "";
    height: 0.125em;
    position: absolute;
    width: 7.8em;
    background-color: var(--primary);
    z-index: -1;
    transform-origin: center;
    bottom: 0.18em;
}

#new-arrivals-section {
    margin-bottom: 21rem;
}

#shop .card .card-img-top {
    object-fit: contain;
}

#new-arrivals-section .btn-group .btn-outline-primary {
    border-width: 3px;
}

#new-arrivals-section .btn-group .btn-primary {
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1.25rem;
}

.footer div > :not(:last-child) {
    background-color: #000;
}

.footer .nav .nav-item {
    height: 2.9rem;
}

.footer .nav .nav-item .nav-link {
    height: 100%;
}

.footer .form-control {
    border-width: 2px;
    max-width: 244px;
}

    .footer .form-control:hover, .footer .form-control:hover {
        border-width: 4px;
    }

.lh-5 {
    line-height: 3rem !important;
}

@media (min-width: 768px) {
        html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid var(--border-color);
}

.border-bottom {
    border-bottom: 1px solid var(--border-color);
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*Header*/
    margin-top: 73px;
}

.footer {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

@media (max-width: 576px) {
    
}