<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Online T-Shirt Shop</title>
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="~/npm/jquery/dist/jquery.min.js"></script>
    <script src="~/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/npm/gsap/dist/gsap.min.js"></script>
    <script src="~/npm/scrollmagic/scrollmagic/minified/ScrollMagic.min.js"></script>
    <script src="~/npm/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
    <script src="~/npm/scrollmagic/scrollmagic/minified/plugins/jquery.ScrollMagic.min.js"></script>
    <script src="~/npm/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js"></script>
</head>
<body>
    <div class="preloader-overlay justify-content-center align-items-center">
        <div class='preloader'><span class="preloader-text">V</span></div>
        <script src="~/js/Preloader.js"></script>
    </div>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-xl navbar-light bg-white mb-3">
            <div class="container-fluid px-xl-12 px-md-4">

                <div class="col-auto col-xl-1 px-0">
                    <div class="navbar-brand position-relative">
                        <a class="link-primary text-center text-uppercase font-weight-bold text-decoration-none stretched-link" asp-area="" asp-controller="Shop" asp-action="Index">VETOL</a>
                    </div>
                </div>

                <button class="navbar-toggler collapsed order-first" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>

                <div class="navbar-collapse collapse d-xl-inline-flex flex-md-row-reverse col-xl-10 order-last order-xl-2 mt-2 mt-xl-0">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-xl-grow-1 offset-xl-3 nav-fill align-items-xl-stretch align-items-sm-start">
                        <li class="nav-item">
                            <a class="link-primary nav-link text-decoration-none">Shop All</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-primary nav-link text-decoration-none">Women</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-primary nav-link text-decoration-none">Men</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-primary nav-link text-decoration-none">Kids</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-primary nav-link text-decoration-none" asp-controller="Shop" asp-action="AboutUs">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-primary nav-link text-decoration-none">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="order-3 col-auto col-xl-1 px-0">
                    <button class="ml-xl-auto bg-transparent border-0 d-flex flex-row justify-content-center">
                        <i class="fas fa-shopping-bag"></i>
                        <span id="item-count-crt" class="text-white position-absolute mt-3">0</span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid px-xl-12 px-0">
        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container-fluid px-xl-12 px-0">
            <div class="d-flex justify-content-center align-items-md-baseline align-items-center bg-dark flex-column flex-sm-row mx-0 pt-12 flex-wrap pt-sm-24">
                <ul class="nav flex-column align-items-center align-items-sm-start mb-12">
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">Shop All</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">Stockists</a>
                    </li>
                </ul>
                <ul class="nav flex-column align-items-center align-items-sm-start ml-sm-16 mb-12">
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">Shipping & Returns</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">Store Policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">Payment Methods</a>
                    </li>
                </ul>
                <ul class="nav flex-column align-items-center align-items-sm-start ml-sm-16 mb-12">
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">Instagram</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">Telegram</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">Facebook</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center text-white py-0">Twitter</a>
                    </li>
                </ul>
                <div class="subscription-form d-flex flex-column col-md-auto col-sm-6 col-10 ml-md-16 mx-0 mb-12 px-0">
                    <h5 class="text-white ls-0_08 text-center text-md-left mb-0">Join our mailing list</h5>
                    <p class="text-white ls-0_08 text-center text-md-left lh-5 font-weight-light mb-2">and get 10% off</p>
                    <input type="email" class="form-control text-white font-weight-bold rounded-0 py-1 pr-1 pl-6 mb-2" />
                    <input type="button" class="btn btn-primary rounded-0" value="Subscribe Now" />
                </div>
            </div>
            <div>
                <small>
                    &copy; 2020 by VETOL Shop. Proudly created by Disconaut and Kdanieldk
                </small>
            </div>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@*
    <body>
    <div role="dialog" tabindex="-1" class="modal fade show" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">My basket</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-3"><img src="TwoHandsWhite.jpg" width="100" /></div>
                        <div class="col">
                            <div class="row">
                                <div class="col-xl-8">
                                    <h3 class="mt-2">Item name</h3>
                                </div>
                                <div class="col-xl-4">
                                    <h6 class="mt-3">Count:</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h3 class="mt-2">Price:</h3>
                                </div>
                                <div class="col">
                                    <h2 class="mt-2">25.00$</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Order</button></div>
            </div>
        </div>
    </div>
    </body>*@


@*<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-2 text-center"><img src="TwoHandsWhite.jpg" width="100" /></div>
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-xl-3">
                        <h1>Item Name</h1>
                    </div>
                    <div class="col"><button class="btn btn-primary border rounded-0 mb-2 mr-2" type="button">-</button><input type="text" class="mt-3" /><button class="btn btn-primary border rounded-0 mb-2 ml-2" type="button">+</button></div>
                </div>
                <h5 class="mt-3">Price:<label> 25.00$</label></h5>
            </div>
        </div>
    </div><button class="btn btn-primary border rounded-0" type="button">Order</button></body>*@