@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "../Shared/_Layout";
}

<section class="main-section">
    <h1 class="header">Register Confirmation</h1>

    <p>
        Please check your email to confirm your account.
    </p>
</section>